<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aad.finalproject.jhoregatta" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="aad.finalproject.db.AndroidDatabaseManager" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoatMenu"
            android:label="@string/title_activity_boat_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListTemplateBoats"
            android:label="@string/title_activity_list_template_boats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BoatAddForm"
            android:label="@string/title_activity_boat_add_form"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".RaceMenu"
            android:label="@string/title_activity_race_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RaceAddForm"
            android:label="@string/title_activity_race_add_form"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".SelectBoats"
            android:label="@string/title_activity_select_boats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListTemplateRaces"
            android:label="@string/title_activity_list_template_races" >
        </activity>
        <activity
            android:name=".RegattaTimer"
            android:label="@string/title_activity_regatta_timer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultsEditForm"
            android:label="@string/title_activity_results_edit_form"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".ListTemplateSelectBoats"
            android:label="@string/title_activity_list_template_select_boats" >
        </activity>
        <activity
            android:name=".ListTemplateResults"
            android:label="@string/title_activity_list_template_results" >
        </activity>
        <activity
            android:name=".ResultsMenu"
            android:label="@string/title_activity_results_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DistanceCalculator"
            android:label="@string/title_activity_distance_calculator"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".listTemplateDistanceCalculator"
            android:label="@string/title_activity_list_template_distance_calculator"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aad.finalproject.jhoregatta.MainActivity" />
        </activity>
        <activity
            android:name=".ResultsEditor"
            android:label="@string/title_activity_results_editor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectClassDistance"
            android:label="@string/title_activity_select_class_distance"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
